<div class="container">
    <%= simple_form_for [ @flats] do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.submit "Edit Flat", class: "btn btn-primary" %>
    <% end %>
</div>